.todo {
    padding: 1rem;
    border: 1px solid #eee;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.todo-add {
    padding: 0.5rem;
    width: 100%;
}

.todo-item {
    list-style-type: none;
    padding: 1rem;
    border: 1px solid #e3e2de;
    margin: 0.5rem 0;
}

.todo-item .todo-complete {
    float: left;
}

.todo-item .todo-delete {
    float: right;
    color: #000;
    padding-left: 3px; 
    padding-right: 3px;
}

.todo-item .todo-delete:hover {
    cursor: pointer;
    background-color: #eee;
}

.todoitem.completed {
    text-decoration: line-through;
    color: green;
}