.todo {
    padding: 1rem;
    border: 1px solid #eee;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.todo-add {
    padding: 0.5rem;
    width: 100%;
}

.todo-item {
    position: relative;
    list-style-type: none;  
    border: 1px solid #e3e2de;
    border-left: 0;
    margin: 0.5rem 0;
    text-align: left;
    padding: 1rem;
    display: flex;
    justify-content: space-around;
}

.todo-item:before {
    display: block;
    content: '';
    border-left: 5px solid #ffec9e;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    padding: 1px 0;

}

.todo-item.completed {
    background-color: #fffced;
}

.todo-item.completed .todo-text {
    text-decoration: line-through;
    color: #6b6b6b;
}

.todo-item .todo-complete {
    margin-right: 10px;
}

.todo-item .todo-delete {
    color: #000;
    padding-left: 3px; 
    padding-right: 3px;
}

.todo-item .todo-delete:hover {
    cursor: pointer;
    background-color: #eee;
}

.todo-text {
    display: inline-block;
    word-wrap: break-word;
    flex-basis: 100%;
    border: 1px solid transparent;
}

.todo-edit {
    width: 100%;
    font-size: inherit;
    margin-top: -0.1rem;
    padding: 0;
}

.todo-footer {
    font-size: 0.8rem;
    color: #333333;
    display: flex;
    justify-content: space-between;
}

.todo-filter-item {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border: 1px solid #e3e2de;
    margin-left: 5px;
    cursor: pointer;
}

.todo-filter-item.active {
    background-color: #ffec9e;
    color: #333333

}

.hidden {
    display: none;
}
